.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 300px;
  margin: 0 auto;
}

.textField {
  width: 100%;
  min-width: unset;
  max-width: unset;
}