.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 75px 25px 75px;
}

.authFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authFooter > .description {
  font-weight: 400;
  color: #739ec1;
}
.link {
  font-weight: 900;
  color: rgba(0, 128, 0, 0.703);
}
